<div class="card">
    <div class="card-body">
        <h1>Yo soy Antz</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus non repellat, nemo minima incidunt perspiciatis quibusdam in beatae cumque. Ullam numquam consectetur vitae deserunt commodi. Consequatur hic animi eos in, molestias incidunt quae fuga possimus est fugiat, mollitia quidem. Laboriosam.</p>
    </div>
</div>