<div class="p-3 mb-2 bg-dark text-white">
    <h1 class="display-4">Index principar</h1>
    <p class="lead text-primary">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quam in rerum tempore consequatur quidem, minus
        enim repellendus explicabo vitae! Fuga labore voluptas voluptatibus totam natus vitae sunt modi facere!</p>
    <a href="https://www.google.com/" class="btn btn-primary btn-lg">Google</a>
  
</div>